@model IEnumerable<Cinema>
@{
    ViewData["Title"] = "list of Cinemas";
}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>Logo</th>
                    <th>Name</th>
                    <th>Description</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var v in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@v.Logo" style= "max-width: 150px" />
                        </td>
                        <td class="align-middle"><b>@Html.DisplayFor(modelItem => v.Name)</b></td>
                        <td class="align-middle">@Html.DisplayFor(modelItem => v.Description)</td>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <td>
                                    <a class="btn btn-outline-primary" asp-controller="Cinema" asp-action="Update" asp-route-Id="@v.Id"><i class="bi bi-pencil-square"></i>Edit</a> |
                                    <a class="btn btn-outline-info" asp-controller="Cinema" asp-action="Details" asp-route-Id="@v.Id"><i class="bi bi-eye"></i>Details</a> |
                                    <a class="btn btn-danger" asp-controller="Cinema" asp-action="Delete" asp-route-Id="@v.Id"><i class="bi bi-trash"></i>Delete</a>
                                </td>
                            }
                            
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@await Html.PartialAsync("_CreateItem","Cinema")